<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Interface</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
  <!-- <div class="chat-container">
    <div class="chat-box">
      <div class="chat-message">
        <span class="message">Hey there!</span>
      </div>
      <div class="chat-message received">
        <span class="message">Hi! How can I help you?</span>
      </div>
      
    </div>-->
 
    <div class="user-input">
      <form action="/voice" method="post">
        <input type="text" placeholder="Type your message...">
        <button class="voice-button" type="submit"><i class="fas fa-microphone"></i></button>
        <button type="submit">Send</button>
      </form>
      <p>{{Text}}</p>
    </div>
    
  </div>
</body>
</html>
